<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}       
        <title>Ecoleta</title>
        {% endblock title %}

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/main.css">  
        {% block styles %}
        {% endblock styles %}      
        <link rel="stylesheet" href="/styles/responsive.css">

    </head>
    <body>
        <div class="sharedHeader">
            <label class="switch" onclick="darkModeOnOff()" data-tooltip-content="Modo Escuro Ligar/Desligar" target="_blank">
                <input id ="dark-mode" type="checkbox" {{ darkModeVariable }}>
                <span class="slider round"></span>
            </label>
            {% if userLogged %}
            
            <form action="/logout?_method=DELETE" method="POST">
            <label class="userLogged">Olá, {{ userLogged }}</label>
            <button type="submit">Sair</button>
            {# <img src="/icones/logout.svg" > #}
            </form>
            {% endif %}
        </div>       
        <div id="{{ bodyId }}">
            {% block content %}
            {% endblock content %}
        </div>      
    {% block modal %}
    {% endblock modal %}

    <script src="/scripts/dark-mode.js"></script>   
    {% block scripts %}
    {% endblock scripts %}
    </body>
</html>