<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/search-results">
            <label>Cidade</label>
            <div class="search field">                       
                <input type="text" name="searchCity" placeholder="Pesquise pela Cidade">
            </div>
            <label>Estado</label>
            <div class="search field">                        
                <input type="text" name="searchState" placeholder="Pesquise pelo Estado">
            </div>
            <button class="" type="submit">
                <img src="/icones/search.svg" alt="Buscar">
                <span>Buscar</span>
            </button>
        </form>
    </div>
</div>